@media print {
    button {
        display: none !important;
    }
}

@media (min-width: 320px) {
    #main-area {
        display: flex;
        flex-direction: column-reverse;
    }
    #code-table th {
        width: 16px;
        height: 20px;
        font-size: 10px;
    }
    #code-table td {
        font-size: 16px;
    }
    #code-table tr:nth-child(n+2) th {
        width: 24px;
    }
    #info-area {
        display: flex;
        flex-direction: row;
    }
    #info {
        padding-left: 8px;
    }
}

@media (min-width: 961px) {
    #main-area {
        display: flex;
        flex-direction: row;
        margin-top: 16px;
    }
    #code-table th {
        width: 24px;
        height: 30px;
        font-size: 16px;
    }
    #code-table td {
        font-size: 24px;
    }
    #code-table tr:nth-child(n+2) th {
        width: 36px;
    }
    #info-area {
        display: flex;
        flex-direction: column;
        padding-left: 8px;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 8px;
    margin-bottom: 0px; 
}

#chart-area {
    width: fit-content;
}

th, td {
    border: 1px solid black;
    padding: 1px;
    text-align: center;
}

#input-code {
    float: right;
}

#charbox {
    display: table-cell;
    width: 160px;
    height: 160px;
    text-align: center;
    vertical-align: middle;
    font-size: 160px;
    border: 1px solid black;
}

#raw {
    display: none;
}
